---
Language:        Cpp
BasedOnStyle:    WebKit
IndentWidth:     4
UseTab:          Never
ColumnLimit:     120
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
SortIncludes: true
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^"[^"]*\.h"$'
    Priority: 1
    SortPriority: 0
  - Regex: '^<.*\.h>$'
    Priority: 2
    SortPriority: 1
  - Regex: '^<.*>$'
    Priority: 3
    SortPriority: 2
