menu "Tonex Controller Configuration"

    choice TONEX_CONTROLLER_DISPLAY_TYPE
        prompt "Tonex Controller Display Type"
        default TONEX_CONTROLLER_DISPLAY_WAVESHARE_800_480
    
        config TONEX_CONTROLLER_DISPLAY_WAVESHARE_800_480
            bool "Waveshare 800x480"

        config TONEX_CONTROLLER_DISPLAY_NONE
            bool "None"
    endchoice

    choice TONEX_CONTROLLER_USE_BLUETOOTH
        prompt "Tonex Controller Bluetooth Support"
        default TONEX_CONTROLLER_BLUETOOTH_OFF  
        help
            Client for having the Tonex Controller connect to devices like M-Vave Chocolate foot switch. Server for pairing the Tonex Controller with a Bluetooth Midi controller device (like a Phone.)
                
        config TONEX_CONTROLLER_BLUETOOTH_CLIENT
            bool "Bluetooth Client"

        config TONEX_CONTROLLER_BLUETOOTH_SERVER
            bool "Bluetooth Server"

        config TONEX_CONTROLLER_BLUETOOTH_OFF
            bool "Disabled"
    endchoice

    if TONEX_CONTROLLER_BLUETOOTH_CLIENT
        config TONEX_CONTROLLER_DEVICE_SUPPORT_MVAVE_CHOCOLATE
            bool "Enable M-Vave Chocolate footswitch"
            default n
            help
            Enable/Disable support for the M-Vave Chocolate Midi Bluetooth foot switch
            
        config TONEX_CONTROLLER_DEVICE_SUPPORT_XVIVE_MD1
            bool "Enable Xvive MD1"
            default n
            help
            Enable/Disable support for the Xvive Bluetooth Midi adaptor
    endif # TONEX_CONTROLLER_BLUETOOTH_CLIENT
    
    choice TONEX_CONTROLLER_USE_SERIAL_MIDI
        prompt "Tonex Controller Serial Midi Support"
        default TONEX_CONTROLLER_USE_SERIAL_MIDI_ON  
        
        config TONEX_CONTROLLER_USE_SERIAL_MIDI_ON
            bool "Enabled"

        config TONEX_CONTROLLER_USE_SERIAL_MIDI_OFF
            bool "Disabled"
    endchoice

    config EXAMPLE_DOUBLE_FB
        bool "Use double Frame Buffer"
        default "n"
        help
            Enable this option, driver will allocate two frame buffers.

    config EXAMPLE_USE_BOUNCE_BUFFER
        depends on !EXAMPLE_DOUBLE_FB
        bool "Use bounce buffer"
        help
            Enable bounce buffer mode can achieve higher PCLK frequency at the cost of higher CPU consumption.

    config EXAMPLE_AVOID_TEAR_EFFECT_WITH_SEM
        depends on !EXAMPLE_DOUBLE_FB
        bool "Avoid tearing effect"
        default "y"
        help
            Enable this option, the example will use a pair of semaphores to avoid the tearing effect.
            Note, if the Double Frame Buffer is used, then we can also avoid the tearing effect without the lock.
            
endmenu
